@{
    ViewBag.Title = "Home Page";
}


<div ng-controller="PalendromController" class="row">
    <div>
        <h1>Welcome </h1>
        <p>In the input box you can update the size of palendroms you wish to create</p>
    </div>
    <div>
        <input type="number" id="maxNumberOfLetters" placeholder="Max Value"/>
        <input type="number" id="minNumberOfLetters" placeholder="Min Value"/>
        <input type="button" id="updateSize" value="Update"/>

    </div>  
    <div>
        <h1>Current Palindrom Size been generated</h1>
        <h3>Max word Size</h3>
        <p id="max"></p>
        <h3>Min word size</h3>
        <p id="min"></p>
    </div>
    <div>
        <h2>List of Palendroms</h2>
        <ol id="list"></ol>
    </div>
  
</div>

@section scripts {
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>

}